.App {
  text-align: center;
  padding:1vh;
  margin:0;
  padding:0;
}

.App-header{
  display:flex;
  justify-content: space-between;
  margin-bottom:4vh;  
}


.logo {
  width: 20vh; 
  cursor: pointer;
}

.btn{
  float:left;
  margin: 1vh;
}

.modal-body{
  text-align: left;
  padding: 3vh;
  display:flex;
}

.modal2{
  margin: auto;
  text-align: center;
  padding:1vh;
}

.footer{
  position: absolute;
  bottom:0;

}

.delbtn{
  border: none;
  background-color: black;
  color:white;
  border-radius: 5px;
  margin-right:5px;

}




