.App {
  text-align: center;
  padding:1vh;
}

.App-header{
  display:flex;
  justify-content: space-between;
  margin-bottom:4vh;  
}


.logo {
  width: 20vh; 
}

.btn{
  float:left;
  margin: 1vh;
}

.rows{
  cursor: pointer;
}


.modal-body{
  align-items: center;
  text-align: left;
  padding: 3vh;
  
}







